<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Zwitter</a>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li><a (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container">

  <p>&nbsp;</p>

  <h4>Type Something to add</h4>
  <div class="row">
    <div class="col-md-12">
      <div class="input-group">
        <input type="text" class="form-control" #field>
        <span class="input-group-btn">
          <a class="btn btn-success" (click)="add(field)">Zweet!</a>
        </span>
      </div>
    </div>
  </div>

  <p>&nbsp;</p>
  <p>&nbsp;</p>

  <h4>Zweets</h4>
  <div class="row">
    <div class="col-md-4 zweet-card" *ngFor="let zweet of zweets | async">
      <div class="panel panel-default">
        <div class="panel-body">
          <strong>{{zweet.user}}:</strong> <br /> {{zweet.text}} <br />
          <small>posted at {{zweet.createdAt | date: 'd/M/y H:m a'}}</small>
          <div class="btn btn-danger btn-sm btn-remove" *ngIf="user === zweet.user" (click)="remove(zweet.$key)">
            <i class="glyphicon glyphicon-remove"></i>
          </div>
          <div class="btn btn-info btn-sm pull-right btn-like" (click)="like(zweet.$key,zweet.likes)">
            <div class="badge badge-like-count">{{zweet.likes}}</div>
            <i class="glyphicon glyphicon-thumbs-up"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>